.blur {
	-webkit-filter: blur(3px);
}

.modalEnvironment {
	position: fixed;
	display: none;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, .8);
}

.modalContainer {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 70px;
	width: 355px;
	background-color: white;
	padding: 65px;
	box-shadow: 0 10px 16px rgba(0, 0, 0, .2);
	color: #363636;
}

.modalButtonContainer {
	text-align: center;
	margin: 45px 0;
}

.modalContainer button {
	margin: 5px;
}

.mini.youtube {
	padding: 14px 20px;
	// strange position anomaly that is pushing the last button down
	position: relative;
	top: -5px;
}

.mini.youtube .buttonImage {
	margin-bottom: -3px;
}
