.explanation {
  line-height: 38px;
  margin: 40px auto 0 auto;
  margin-top: 40px;
  width: 100%
}

.explanation .primary {
  color: grey;
  font-weight: 400;
  margin-bottom: 18px;
  padding-left: 16px;
}

.explanation .emphasis {
  color: $color-main;
  font-family: 'Satisfy', 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-right: 6px;
}

@media #{$breakpoint-small} {

  .explanation {
    line-height: 26px;
  }

  .explanation .primary {
    font-size: 14px;
  }

  .explanation .emphasis {
    font-size: 18px;
  }
   
}
