footer {
  background-color: $color-light-grey;
  line-height: 50px;
  text-align: center;
}

footer span {
  font-size: 14px;
  font-weight: 400;
}

@media #{$breakpoint-small} {

  footer span {
    font-size: 12px;
  }

}
