footer {
  background-color: white;
	// Must set height for sticky footer
	height: $footer-height;
  line-height: $footer-height;
  text-align: center;
}

footer span {
  font-size: 14px;
  font-weight: 400;
}

footer .footerLink {
	&:hover {
		color: $color-main;
	}
}

@media #{$breakpoint-small} {

  footer span {
    font-size: 12px;
  }

}
