footer {
  background-color: $color-main;
  line-height: 72px;
  text-align: center;
}

footer span {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

@media #{$breakpoint-small} {

  footer span {
    font-size: 12px;
  }

}
