.top-strip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $top-strip-height;
  background: linear-gradient(to left, $color-secondary, $color-main);
  animation: gradientFade 2s infinite;
}

header {
  @include paper;
  background-color: white;
  border-radius: 0;
  height: $header-height;
  margin: $top-strip-height 0 40px 0;
  overflow: auto;
}

header .logo-container {
  display: table;
  float: left;
  height: $header-height;
}

header .logo {
  color: $color-main;
  display: table-cell;
  font-size: 32px;
  font-weight: 800;
  line-height: 20px;
  padding-left: 16px;
  vertical-align: middle;
}

header .logo .tagline {
  color: $color-dark-grey;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.3px;
}

header button {
  @include button;
  float: right;
  font-size: 28px;
  line-height: $header-height;
  padding-right: 16px;
  width: 60px;
  text-align: right;
}

header .fa-cog {
  color: $color-dark-grey;
  transition: 100ms transform;
}

header button:hover .fa-cog {
  transform: rotate(20deg);
}

@media #{$breakpoint-small} {

  .top-strip {
    height: $top-strip-height-small;
  }

  header {
    height: $header-height-small;
    line-height: $header-height-small;
    margin-top: $top-strip-height-small;
  }

  header .logo-container {
    height: $header-height-small;
  }

  header .logo {
    font-size: 23px;
    line-height: 16px;
  }

  header .logo .tagline {
    font-size: 10px;
    letter-spacing: 1px;
  }

  header button {
    font-size: 18px;
    line-height: $header-height-small;
  }
   
}
