header {
  @include paper;
  height: $header-height;
  line-height: $header-height;
  margin-bottom: 40px;
  overflow: auto;
}

header .logo {
  color: $color-main;
  float: left;
  font-family: 'Satisfy', 'Open Sans', cursive;
  font-size: 30px;
  font-weight: 600;
  padding-left: 16px;
}

header button {
  @include button;
  float: right;
  font-size: 26px;
  line-height: $header-height;
  padding-right: 16px;
  width: 60px;
  text-align: right;
}

header .fa-cog {
  color: $color-main;
  transition: 100ms transform;
}

header button:hover .fa-cog {
  transform: rotate(20deg);
}

// @media #{$breakpoint-small} {

//   header {
//     height: $header-height-small;
//     line-height: $header-height-small;
//   }

//   header .logo {
//     font-size: 18px;
//   }

//   header button {
//     font-size: 16px;
//   line-height: $header-height-small;

//   }
   
// }
