.link {
  @include paper;
  padding: 16px;
  margin-bottom: 20px;
}

.link .link-header {
  color: black;
  display: table;
  font-weight: 400;
  height: $link-header-height;
  margin-bottom: 20px;
}

.link .link-header img {
  float: left;
  height: auto;
  margin-right: 20px;
  width: $link-header-height;
}

.link .link-header .link-info {
  display: table-cell;
  height: 100%;
  line-height: 22px;
  vertical-align: middle;
  width: 100%;
}

.link .link-header .title {
  font-size: 18px;
}

.link .link-header .artist {
  color: grey;
  font-size: 16px;
}

.link .link-header .album {
  color: grey;
  font-size: 16px;
  font-weight: 300;
}

.link .link-container {
  height: $link-input-height;
  margin-bottom: 20px;
  width: 100%;
}

.link input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  outline: none;
  padding-left: 16px;
  width: 100%;
}

.link .button-container {
  height: $link-input-height;
}

.link button {
  @include button;
  @include paper;
  border-radius: 100%;
  color: white;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
  width: $link-input-height;
}

.link button.copy {
  color: white;
  background-color: $color-main;
}

.link button.facebook {
  background-color: $color-facebook;
}

.link button.twitter {
  background-color: $color-twitter;
}

@media #{$breakpoint-small} {

  .link {
    padding: 16px;
  }
  
  .link .link-header {
    font-size: 12px;
    height: $link-header-height-small;
  }

  .link .link-header img {
    width: $link-header-height-small;
  }

  .link .link-header .link-info {
    line-height: 18px;
  }

  .link .link-header .title {
    font-size: 14px;
  }

  .link .link-header .artist {
    font-size: 12px;
  }

  .link .link-header .album {
    font-size: 12px;
  }
  
  .link .link-container {
    height: $link-input-height-small;
    width: 100%;
  }

  .link input{
    font-size: 12px;
    padding: 10px;
  }

  .link .button-container {
    height: $link-input-height-small;
  }

  .link button {
    font-size: 12px;
    margin-right: 14px;
    width: $link-input-height-small;
  }
   
}
