.listenLinks {
  margin: 35px auto 100px auto;
  max-width: 480px;
  width: 90%;
}

.link .link-header .link-info {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.listenLinks button {
  @include paper;
  border: none;
  cursor: pointer;
  display: table;
  height: $song-page-link-height;
  line-height: $song-page-link-height;
  margin-bottom: 20px;
  outline: none;
  text-align: left;
  width: 100%;
}

.listenLinks button .logo {
  float: left;
  height: 100%;
  text-align: center;
  width: 20%;
}

.listenLinks button .logo span {
  font-size: 33px;
  line-height: $song-page-link-height;
}

.listenLinks button .logo span.fa-spotify {
  color: $color-spotify;
}

.listenLinks button .logo span.fa-youtube {
  color: $color-youtube;
}

.listenLinks button .link-text {
	display: table-cell;
	font-size: 18px;
	font-weight: 400;
	height: 100%;
	vertical-align: middle;
	color: $color-dark-grey;
	font-family: 'Open Sans', sans-serif;
	float: left;
}

.listenLinks button .link-text span {
  text-align: center;
}

.listenLinks button .share {
	float: right;
	height: 100%;
	text-align: center;
	width: 20%;
	font-size: 18px;
	color: $color-dark-grey;
}

@media ($smallBreakRule) {
  .listenLinks button {
    height: $song-page-link-height-small;
    line-height: $song-page-link-height-small;
  }

  .listenLinks button .link-text {
    font-size: 16px;
  }

  .listenLinks button .logo span {
    font-size: 40px;
    line-height: $song-page-link-height-small;
  }
}

// one-off breakpoint style to accommodate the link font size on the buttons
@media (max-width: 400px) {
  .listenLinks button {
    font-size: 12px;
  }
}
