.listenLinks {
  margin: 35px auto 0 auto;
  max-width: 480px;
  width: 90%;
}

.listenLinks button {
  @include button-ethan;
  @include paper;
  height: 86px;
  text-align: left;
}

.listenLinks button span {
  line-height: 86px;
}

.listenLinks button.fullWidth {
  width: 100%;
  margin: 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: $color-dark-grey;
}

.listenLinks button .fa {
  font-size: 32px;
}

@media ($smallBreakRule) {
  .listenLinks button {
    font-size: 14px;
  }
}

// one-off breakpoint style to accommodate the link font size on the buttons
@media (max-width: 400px) {
  .listenLinks button {
    font-size: 12px;
  }
}
