@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
}

@mixin paper {
  background-color: white;
  border-radius: 2px;
  // todo keep or remove shadows
  //box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  outline: none;
}

@mixin no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
