.blur {
	-webkit-filter: blur(2px);
}

.modalEnvironment {
	position: absolute;
	display: none;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, .8);
}

.modalContainer {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 7%;
	width: 485px;
	background-color: white;
	padding: 65px;
	box-shadow: 0 10px 16px rgba(0, 0, 0, .2);
	color: #363636;
	box-sizing: border-box;
	transition: transform .5s, opacity .25s;
}

.modalContainer.unloaded {
	opacity: 0;
	transform: translate(-50%, 20px);
}

.modalButtonContainer {
	margin: 30px 0 45px 0;
	width: 100%;
}

.modalContainer button {
	@include paper;
	border: none;
	font-size: 12px;
	font-weight: 300;
	height: 40px;
	outline: none;
	margin: 5px;
	width: 100%;
}

.modalContainer button .fa {
	font-size: 18px;
}

.modalContainer button.special {
	margin-top: 30px;
	background-color: #e7e7e7;
	transition: 200ms background;
}

.modalContainer button.special:hover {
	background-color: #bebebe;
}

.modalContainer button.highlighted {
	background-color: #FFF9EB;
	border: 1px rgba(243, 141, 45, 1) solid;
}


// Small Breakpoint styles
@media ($smallBreakRule)	{
	.modalContainer {
		width: 90%;
		font-size: 15px;
		padding: 45px;
	}
	.modalButtonContainer {
		margin: 35px 0;
	}
}

@media (max-width: 400px)	{
	.modalContainer {
		width: 90%;
		font-size: 15px;
		padding: 35px;
	}
	.modalButtonContainer {
		margin: 25px 0;
	}
	.modalButtonContainer button {
		margin: 0;
	}
}
