.preferences {
  padding: 16px;
  text-align: center;
}

.preferences.wrapper {
  max-width: 360px;
}

.preferences .header {
  color: $color-main;
  font-family: 'Satisfy', 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 14px;
}

.preferences .redirect-info {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 14px;
}

.preferences .radio-group {
  text-align: left;
  margin-bottom: 14px;
}

.preferences .radio {
  @include paper;
  cursor: pointer;
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  margin-bottom: 14px;
  text-align: center;
}

.preferences .radio .fa {
  font-size: 18px;
  margin-right: 8px;
}

.preferences .radio.selected {
  border: 1px solid $color-main;
  background-color: mix($color-main, white, 5%);
}

// .preferences .update-button {
//   @include paper;
//   background-color: lightgrey;
//   border: none;
//   cursor: pointer;
//   font-size: 16px;
//   font-weight: 300;
//   height: 36px;
//   outline: none;
//   padding: 0 16px;
//   width: 40%;

//   &:hover {
//     border: 1px solid grey;
//   }
// }
