$color-main: #ff671d;
$color-facebook:  #3b5998;
$color-twitter: #55acee;
$color-background: mix(black, white, 5%);

$grid-max-width: 700px;

$header-height: 76px;
$search-input-height: 60px;
$search-result-height: 86px;
$search-result-info-item-padding: 6px;
$link-input-height: 48px;

// $breakpoint-small: "only screen and (min-width: 600px)";
