$color-main: #ff671d;
$color-purple: #3e48ce;
$color-facebook:  #3b5998;
$color-twitter: #55acee;
$color-background: mix(black, white, 5%);

$grid-max-width: 700px;

$header-height: 76px;
$header-height-small: 52px;
$search-input-height: 64px;
$search-input-height-small: 56px;
$search-result-height: 120px;
$search-result-info-item-padding: 24px;
$link-input-height: 48px;
$link-input-height-small: 36px;

$breakpoint-small: "only screen and (max-width: 600px)";
