@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,600);

// BASE VARIABLE //
$slorange: #ff671d;
$slpurple: #3e48ce;
$sllightgrey: #cecece;
$sldarkgrey: #545454;
$smallBreakRule: "max-width: 530px";

// GENERIC SITE STYLES //
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 100px;
	font-size: 19px;
}

p {
	line-height: 24px;
}

.page {
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
}

main {
	transition: 200ms filter;
}
// END GENERIC STYLES //

@import 'reusableComponents';
@import 'header';
@import 'songView';
@import 'listenLinks'; // includes .contentContainer
@import 'modal';
