<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="main.css">
		<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
		<title>Songlink 404</title>
	</head>
	<body>
		<div class="top-strip"></div>
		<header>
			<div class="wrapper">
				<a href="http://songl.ink">
					<div class="logo-container">
						<div class="logo">
							<span>songlink</span><br/>
							<span class="tagline">share with anyone</span>
						</div>
					</div>
				</a>
				<a href="http://songl.ink/preferences">
					<button class="settings">
						<span class="fa fa-cog"></span>
					</button>
				</a>
			</div>
		</header>

		<div class="wrapper">
			<div class="songContainer">
				Link not found
			</div>
		</div>

		<footer>
			<span>&copy; 2015 songl.ink</span>
		</footer>

	</body>
</html>
