<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://songl.ink" />
    <meta property="og:title" content="songl.ink | share with anyone" />
    <meta property="og:description" content= "create links to share music across multiple platforms with songlink"/>
    <meta property="og:image" content="http://songl.ink/testImage.jpeg" />
    <meta property="og:site_name" content="songl.ink"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="songl.ink" />
    <meta name="twitter:title" content="songl.ink | share with anyone" />
    <meta name="twitter:description" content="create links to share music across multiple platforms with songlink" />
    <meta name="twitter:image" content="http://songl.ink/testImage.jpeg" />
    <meta name="twitter:url" content="http://songl.ink" />

    <title>songlink</title>
  </head>
  <body>
    <div class="top-strip"></div>
    <header>
      <div class="wrapper">
        <a href="http://songl.ink">
          <div class="logo-container">
            <div class="logo">
              <span>songlink</span><br/>
              <span class="tagline">share with anyone</span>
            </div>
          </div>
        </a>
        <a href="http://songl.ink/preferences">
          <button class="settings">
            <span class="fa fa-cog"></span>
          </button>
        </a>
      </div>
    </header>

    <div class="wrapper">
      <div class="songContainer">
        Link not found
      </div>
    </div>
    
    <footer>
      <span>&copy; 2015 songl.ink</span>
    </footer>

  </body>
</html>
