<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="main.css">
		<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
		<title>Something went wrong!</title>
	</head>
	<body>

		<div class="mainContent errorPage"> <!-- content (except footer) for sticky footer -->

			{{> header}}

			<div class="wrapper">
				<h1>We're sorry, but something went wrong.</h1>
			</div>

		</div>

		{{> footer}}

	</body>
</html>
