<!DOCTYPE html>
<html lang="en">
<head>
	<title>Songlink | {{title}} by {{artist}}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Listen to {{title}} by {{artist}} on the music app of your choice!" />
	{{> og}}
	{{> twitter}}
	<link rel="stylesheet" href="main.css"/>
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
	{{> analytics}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<main> <!-- main wrapper for modal blur -->

		<div class="mainContent"> <!-- content (except footer) for sticky footer -->
			{{> header}}

			{{> songContainer}}

			{{> providerLinks}}
		</div>

		{{> footer}}

	</main>

	{{> modal}}

	<script src="scripts/linkPage.js"></script>
	<script>

		window.addEventListener('load', function () {
			if ('{{{preferredProviderUrl}}}') {
				window.location.href = '{{{preferredProviderUrl}}}';
			}
		});

	</script>

</body>
</html>
