<meta property="og:type" content="website" />
<meta property="og:url" content="{{songlinkUrl}}" />
<meta property="og:title" content="{{title}} by {{artist}} | Songlink" />
<meta property="og:description" content="Listen to {{title}} by {{artist}} on Spotify, Apple Music, Google Music, YouTube, or Deezer! Update your Songlink preferences to have links automatically open in the app of your choice." />
<meta property="og:image" content="{{album_art}}" />
<meta property="og:site_name" content="songl.ink"/>
