<meta name="twitter:card" content="summary" />
<meta name="twitter:domain" content="songl.ink" />
<meta name="twitter:title" content="{{title}} by {{artist}} | Songlink" />
<meta name="twitter:description" content="Listen to {{title}} by {{artist}} on Spotify, Apple Music, Google Music, YouTube, or Deezer! Update your Songlink preferences to have links automatically open in the app of your choice." />
<meta name="twitter:image" content="{{album_art}}" />
<meta name="twitter:url" content="{{songlinkUrl}}" />
