<!DOCTYPE html>
<html lang="en">
<head>
  <title>songlink | {{title}} by {{artist}}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary" />
  <meta property="og:title" content="{{title}} by {{artist}}" />
  <meta property="og:site_name" content="Songl.ink"/>
  <meta property="og:url" content="{{pageUrl}}" />
  <meta property="og:image" content="{{album_art}}" />
  <meta property="og:description" content= "Listen to {{title}} by {{artist}} on Songlink"/>

  <link rel="stylesheet" href="main.css"/>
</head>
<body>

  <div class="top-strip"></div>
  <header>
    <div class="wrapper">
      <div class="logo-container">
        <div class="logo">
          <span>songlink</span><br/>
          <span class="tagline">share with anyone</span>
        </div>
      </div>
      <button class="preferences">
        <span class="fa fa-cog"></span>
      </button>
    </div>
  </header>

  <div class="wrapper">
    <div class="songContainer">
      <img class="albumArt" src="{{album_art}}" alt="Album Art" width="175px" height="175px"/>
      <div class="tableWrapper">
        <div class="songInfo">
          <h1 class="songTitle">{{title}}</h1>
          <span>by</span><h1 class="songAlbum">{{artist}}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="listenLinks">
    {{#providers}}
      <button class="{{className}}" href="{{url}}" onclick="providerClick('{{provider}}','{{url}}')">
        <span class="fa fa-spotify"></span>
        <span>{{text}}</span>
      </button>
    {{/providers}}
  </div>

  <div class="modalEnvironment">
    <div class="modalContainer">
      <div class="top-strip"></div>
      <p>Songlink works best when you tell us where you listen to music. Next time we’ll open our links in that app for you automatically.</p>
      <div class="modalButtonContainer">
        <button class="mini spotify" onclick="modalSelection.click('spotify', this)">
          <img class="buttonImage" src="images/spotify-logo.jpg" alt="Spotify Button"/>
        </button>
        <button class="mini itunes" onclick="modalSelection.click('itunes', this)">
          <img class="buttonImage" src="images/apple-logo.png" alt="Apple Music Button"/>
        </button>
        <button class="mini youtube" onclick="modalSelection.click('youtube', this)">
          <img class="buttonImage" src="images/youtube-logo.png" alt="YouTube Button"/>
        </button>
        <br/>
        <button class="mini special" onclick="preferenceSkip()">skip</button>
        <button class="mini special save" onclick="preferenceSave(modalSelection.preference)">save</button>
      </div>
      <p>You can always go to songl.ink and change this later.</p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="scripts/listenerTools.js"></script>
</body>
</html>
