<!DOCTYPE html>
<html lang="en">
<head>
  <title>songlink | {{title}} by {{artist}}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary" />
  <meta property="og:title" content="{{title}} by {{artist}}" />
  <meta property="og:site_name" content="Songl.ink"/>
  <meta property="og:url" content="{{pageUrl}}" />
  <meta property="og:image" content="{{album_art}}" />
  <meta property="og:description" content= "Listen to {{title}} by {{artist}} on Songlink"/>

  <link rel="stylesheet" href="main.css"/>

</head>
<body>
  <main> <!-- main wrapper for modal blur -->

    <div class="top-strip"></div>
    <header>
      <div class="wrapper">
        <div class="logo-container">
          <div class="logo">
            <span>songlink</span><br/>
            <span class="tagline">share with anyone</span>
          </div>
        </div>
        <button class="settings">
          <span class="fa fa-cog"></span>
        </button>
      </div>
    </header>

    <div class="wrapper">
      <div class="songContainer">
        <img class="albumArt" src="{{album_art}}" alt="Album Art" width="175px" height="175px"/>
        <div class="tableWrapper">
          <div class="songInfo">
            <h1 class="songTitle">{{title}}</h1>
            <span>by</span><h1 class="songAlbum">{{artist}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="listenLinks">
      {{#providers}}
        <button class="{{className}}" onclick="providerClick('{{provider}}','{{url}}')">
          <div class="logo">
            <span class="fa fa-{{icon}}"></span>
          </div>
          <div class="link-text">
            <!-- Text below for youtube should be "YouTube"...I think it's currently "Youtube"-->
            <span>{{text}}</span>
          </div>
        </button>
      {{/providers}}
    </div>
  </main>

  <div class="modalEnvironment">
    <div class="modalContainer">
      <div class="top-strip"></div>
      <p>Songlink works best when you tell us where you listen to music. Next time you click on a songlink we’ll open your app for you automatically.</p>
      <div class="modalButtonContainer">
        <button class="mini spotify" onclick="modalSelection.click('spotify')">
          <span class="fa fa-spotify"></span><span> Spotify</span>
        </button>
        <button class="mini youtube" onclick="modalSelection.click('youtube')">
          <span class="fa fa-youtube"></span><span> YouTube</span>
        </button>
        <button class="mini itunes" onclick="modalSelection.click('itunes')">
          <span class="fa fa-apple"></span><span> Apple Music</span>
        </button>
        <button class="mini none" onclick="modalSelection.click('none')">
          I do not wish to be redirected
        </button>
        <button class="mini special save" onclick="preferenceSave(modalSelection.preference)">
          Save preference
        </button>
      </div>
      <p>You can always go to songl.ink and change this later.</p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="scripts/listenerTools.js"></script>
</body>
</html>
