<!DOCTYPE html>
<html lang="en">
<head>
  <title>songlink | {{title}} by {{artist}}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{pageUrl}}" />
  <meta property="og:title" content="{{title}} by {{artist}} | songl.ink" />
  <meta property="og:description" content= "Listen to {{title}} by {{artist}} on songlink"/>
  <meta property="og:image" content="{{album_art}}" />
  <meta property="og:site_name" content="songl.ink"/>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:domain" content="songl.ink" />
  <meta name="twitter:title" content="{{title}} by {{artist}} | songl.ink" />
  <meta name="twitter:description" content="Listen to {{title}} by {{artist}} on songlink" />
  <meta name="twitter:image" content="{{album_art}}" />
  <meta name="twitter:url" content="{{pageUrl}}" />

  <link rel="stylesheet" href="main.css"/>

  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

  <script>
    if ('{{{providerUrl}}}') {
      var redirectWindow = window.open('{{{providerUrl}}}', '_blank');
    }
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71590981-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body>
  <main> <!-- main wrapper for modal blur -->

    <div class="top-strip"></div>
    <header>
      <div class="wrapper">
        <a href="http://songl.ink">
          <div class="logo-container">
            <div class="logo">
              <span>songlink</span><br/>
              <span class="tagline">share with anyone</span>
            </div>
          </div>
        </a>
        <a href="http://songl.ink/preferences">
          <button class="settings">
            <span class="fa fa-cog"></span>
          </button>
        </a>
      </div>
    </header>

    <div class="wrapper">
      <div class="songContainer">
        <img class="albumArt" src="{{album_art}}" alt="Album Art" width="175px" height="175px"/>
        <div class="tableWrapper">
          <div class="songInfo">
            <h1 class="songTitle">{{title}}</h1>
            <span>by</span><h1 class="songAlbum">{{artist}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="listenLinks">
      {{#providers}}
        <button class="{{className}}" onclick="providerClick('{{provider}}','{{url}}')">
          <div class="logo">
            <span class="fa fa-{{icon}}"></span>
          </div>
          <div class="link-text">
            <span>{{text}}</span>
          </div>
        </button>
      {{/providers}}
    </div>

    <footer>
      <span>&copy; 2015 songl.ink</span>
    </footer>
  </main>

  <div class="modalEnvironment">
    <div class="modalContainer">
      <div class="top-strip"></div>
      <p>Songlink works best when you tell us where you listen to music. Next time you click on a songlink we’ll open your app for you automatically.</p>
      <div class="modalButtonContainer">
        <button class="mini spotify" onclick="modalSelection.click('spotify')">
          <span class="fa fa-spotify"></span><span> Spotify</span>
        </button>
        <button class="mini youtube" onclick="modalSelection.click('youtube')">
          <span class="fa fa-youtube"></span><span> YouTube</span>
        </button>
        <button class="mini itunes" onclick="modalSelection.click('itunes')">
          <span class="fa fa-apple"></span><span> Apple Music</span>
        </button>
        <button class="mini none" onclick="modalSelection.click('none')">
          I do not wish to be redirected
        </button>
        <button class="mini special save" onclick="preferenceSave(modalSelection.preference)">
          Save preference
        </button>
      </div>
      <p>You can always go to songl.ink and change this later.</p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="scripts/listenerTools.js"></script>
</body>
</html>
