.explanation {
  width: 500px;
  margin: 40px auto 0 auto;
  color: grey;
  margin-top: 40px;
}

.explanation .primary {
  margin: 40px 0;
  padding: 0 16px;
}

.explanation .emphasis {
  color: $slorange;
  // font-size: 26px;
  font-weight: 800;
}

.explanation .emphasis {
  
}
