.linksContainer {
  width: 500px;
  margin: 40px auto 0 auto;
  padding: 0;
  border: none;
}

.link input{
  box-sizing: border-box;
  width: 64%;
  border-width: 0;
  border-radius: 0 4px 4px 0;
  border: 1px solid lightgrey;
  border-right: none;
  box-sizing: border-box;
  height: 48px;
  border-radius: 4px 0 0 4px;
  padding: 0 0 0 16px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  outline: none;
}

.link button {
  color: grey;
  border-radius: 0;
  border: 1px solid lightgrey;
  border-left: none;
  height: 48px;
  padding: 0;
  width: 12%;
  font-size: 19px;
  font-weight: 600;
}

.link button.lastButton {
  border-radius: 0 4px 4px 0;
}

.linkInfo {
  color: grey;
  font-weight: 600;
  font-size: 18px;
  padding: 6px 0px 12px 16px;
}
