.resultsContainer {
  position: absolute;
  background-color: white;
  width: inherit;
}

.resultsContainer img,
.resultsContainer ul {
  float: left;
}

.result,
.result-loading {
  height: 101px;
  overflow: auto;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  cursor: pointer;

  &:first-of-type {
    border-radius: 4px 4px 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 4px 4px;
  }
}

.result img {
  margin: 0;
  padding: 0;
}

.result-loading {
  color: grey;
  line-height: 101px;
  text-align: center;
}

.resultItem {
  height: 100px;
  padding: 5px 0;
  line-height: 30px;
}

.resultItem li {
  width: 358px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px 0 20px;
}

.resultTitle {
  font-size: 22px;
}

.resultArtist,
.resultAlbum {
  color: darkgrey;
  font-size: 18px;
}
