.contentContainer {
	width: 480px;
	margin: 35px auto 0 auto;
}

.listenLinks {
	left: 100px;
	text-align: center;
}

.listenLinks button.spotify {
	background: url('../images/spotify-logo.jpg') no-repeat;
	background-size: 40px;
	background-position: 21px 11px;
}

.listenLinks button.itunes {
	background: url('../images/apple-logo.png') no-repeat;
	background-size: 35px;
	background-position: 25px 12px;
}

.listenLinks button.youtube {
	background: url('../images/youtube-logo.png') no-repeat;
	background-size: 45px;
	background-position: 22px 15px;
}

@media ($smallBreakRule) {
	.contentContainer {
		width: 90%;
	}
	.listenLinks button {
		font-size: 14px;
	}
}

// one-off breakpoint style to accommodate the link font size on the buttons
@media (max-width: 400px) {
	.listenLinks button {
		font-size: 12px;
	}
}
